<!DOCTYPE html>
<html>
  <head>
    <title>FaceRecognition</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
  <style>
#display {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
}

canvas {
  position: absolute;
}
  </style>